body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
    position: relative; /* Ensure proper positioning */
}

.header-background {
    position:fixed;
    height: 13vh;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1; /* Place behind the header */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    color: #fff;
    width: 100vw;
    z-index: 2; /* Place above the background */
    position: fixed;
}
  
.gallery {
    position: fixed;
    bottom: 20px;
    width: 100%;
    overflow: hidden;
}
  
.images {
    display: flex;
    transition: transform 0.5s ease;
}
  
.images img {
    max-height: 75vh;
}

button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: blue;
}
  
.prev {
    left: 10px;
}
  
.next {
    right: 10px;
}

/* Rainbow text animation */
.header {
    text-align: center;
    text-decoration: underline;
    font-size: 2vh;
    letter-spacing: .25vw;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

